<html lang="en">
<head>
	<meta charset="UTF-8">
		<title>News!</title>
		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="../public/app.js">
	</head>
	<body>
		{{{ body }}}
	</body>
</html>